body {
    background-color: darkolivegreen;
    margin: 0 auto;
    width: 80%;
}

header {
   background-color: darkolivegreen;
   list-style: none
}

a {
    list-style: none;
}

Main {
    display: block;


}
.Porchie {
  
}
